<div class="wrapper side-panel-open" id="wrapper">  
  <div class="Main">
    <div *ngIf="currentFile" class="progress my-3">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{ progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progress + '%' }"
      >
        {{ progress }}%
      </div>
    </div>
    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
    <div class="flex text-center list-header" >
      <span class="fs-3 fw-bolder ">List of Files</span>
    </div>    
    <button (click)="sortUser()">Sort Data</button>
      <div class="row">
        <div class="col-4 text-center" id="files-from-api"
        *ngFor="let file of fileInfos | async">
        <div>
          <a class="d-inline-block text-truncate" href="{{ file['name'] }}">{{ file['name'] }}</a><br>
          <img class="file-list-image" src="https://i.imgur.com/UEVhTV4.jpg" />
        </div>      
        <div>
          <button type="button" class="btn btn-primary" (click)="downloadFile(file['name'])">DOWNLOAD</button>
          <button  type="button" class="btn btn-outline-danger">DELETE</button>
        </div>    
      </div>
    </div> 
  </div>
  <div class="side-panel-all">
    <button class="side-panel-toggle" type="button" (click)="toggleSidePanel()">
      <span class="material-icons sp-icon-open">keyboard_double_arrow_left</span>
      <span class="material-icons sp-icon-close">keyboard_double_arrow_right</span>
    </button>
    <div class="side-panel align-right">
        <div class="">
            <div class="text-center">
              <h2>FILE</h2>
              <img class="image-holder" id="selected_file_preview" src="./assets/placeHolderImage.png" alt="your image"/><br>
              <input type="file" id="selected_file" name="selected_file" (change)="selectFile($event)" />
            </div>
            <div class="text-center overflow-ellipsis">
              <h2>THUMBNAIL</h2>
              <img class="image-holder" id="selected_thumbnail_preview" src="./assets/placeHolderImage.png" alt="your thumbnail"/><br>
              <input type="file" id="selected_thumbnail" name="selected_thumbnail" (change)="selectThumbnail($event)"/>
            </div>
             <br>
        </div>
        <div class="">
          <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
            Upload
          </button>
        </div>
    </div>
  </div>  
</div>
